<h3>supplier-list</h3>
<div class="container-fluid d-flex flex-wrap mt-5   ">
    @for( supplier of list; track supplier.bankAccount){
        <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
        <div class="card mx-auto w-custom-90">
            <div class="card-body">
                <p>{{supplier.name}}</p>
                <p>{{supplier.phone}}</p>
                <p>{{supplier.email}}</p>
                <p>{{supplier.address}}</p>
                <p>{{supplier.bankAccount}}</p>
            </div>
          </div>
    </div>
}
   
</div>

        