<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>



<form [formGroup]="form" class="column is-half is-mobile">
  <div class="field">
    <label class="label">Nombre</label>
    <div class="control">
      <input class="input is-rounded bi bi-pen" type="text" placeholder="Ingresa el nombre de la prenda" formControlName = 'name'>
    </div>
  </div>
  <label class="label">Imagen</label>
  <div class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" />
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">Subir imagen </span>
      </span>
      <span class="file-name">Nombre Imagen</span>
    </label>
  </div>
  <div class="field">
    <label class="label">Descripcion</label>
    <div class="control">
      <input class="input is-rounded" type="text" placeholder="Escribe una descripcion" formControlName = 'description'>
    </div>
  </div>
  <div class="field">
    <label class="label">Color</label>
    <div class="control">
      <input class="input is-rounded" type="text" placeholder="Ingresa el color de la prenda" formControlName = 'color'>
    </div>
  </div>
  <div class="field">
    <label class="label">Color</label>
    <div class="control">
      <input class="input is-rounded" type="number" placeholder="Ingresa el color de la prenda" formControlName = 'price'>
    </div>
  </div>
  <div class="field">
    <label class="label">Fecha de Envio</label>
    <div class="control">
      <input class="input is-rounded" type="date" placeholder="Escribe una descripcion" formControlName = 'date'>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Categoria</label>
    <div class="control">
      <div class="select is-rounded">
        <select>
          <option>Elige uno...</option>
          <option>Pantalones</option>
          <option>Blusas</option>
          <option>Chaquetas</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Esta disponible?</label>
    <div class="control">
      <label class="radio">
        <input type="radio" name="question" formControlName = 'availability'>
        Si
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-info is-dark">Guardar</button>
    </div>
    <div class="control">
      <button class="button is-danger is-dark">Cancelar</button>
    </div>
  </div>
</form>