<div>
  <h2 style="margin-left: 600px; margin-top: 30px;">Lista de Productos</h2>
</div>

<div style="text-align: left; display: flex; padding: 50px; margin-left: 250px;">
    <div class="card" style="width: 18rem;">
      <img src="#" class="card-img-top" alt="..." style="height: 200px;">
      <div class="card-body" *ngFor="let products of products">
        <h5 class="card-title">{{products.name}}</h5>
        <p class="card-text">{{products.description}}</p>
        <p class="card-text">{{products.color}}</p>
        <p class="card-text">{{products.date}}</p>
        <p class="card-text">{{products.price}}</p>
        <button  class="btn btn-primary" 
        (click)="editProducts(products)">Editar</button>
      </div>
    </div>
</div>