/* You can add global styles to this file, and also import other style files */
.background {
    background-image: url('./assets/fondoo.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh;
}
@import "primeicons/primeicons.css";