
<div class="position-absolute top-50 start-50 translate-middle" >
    <div class="border border-dark-subtle p-5 rounded-4">

        <form [formGroup]="loginform">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName = 'user'> 
          @if (user.errors){
            @if (user.touched) {
              @if (user.errors['required']) {
                <div class="alert alert-danger" role="alert">
                  El campo es requerido
                </div>
                }
            }
        }         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName = 'password'>
        </div>
        @if (password.errors){
            @if (password.touched) {
              @if (password.errors['required']) {
                <div class="alert alert-danger" role="alert">
                  El campo es requerido
                </div>
                }
            }
        }    
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName = 'forget'>
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <button 
            type="submit" 
            class="btn btn-primary"                 
            >
            <a class="text-black " style="text-decoration: none;" routerLink='/home/principal'>
              Ingresar
            </a></button>
            <button 
            type="submit" 
            class="btn btn-primary"    
            style="margin-left: 10px; "                 
            >
            <a class="text-black " style="text-decoration: none;" routerLink='/access/register'  >
              Registro
            </a></button>
        </div>
      </form> 
    </div>
   
</div>
