<h3>Supplier form works</h3>

<form>
    <div class="form-group">
      <label for="nameSupplier">Nombre de la persona de referencia:</label>
      <input type="text" class="form-control" id="nameSupplier" >
    </div>
    <div class="form-group">
        <label for="phone">Número de contacto:</label>
        <input type="text" class="form-control" id="phone" >
    </div>
    <div class="form-group">
      <label for="address">Dirección:</label>
      <input type="text" class="form-control" id="address" >
    </div>
    <div class="form-group">
      <label for="bankAccount">Número de cuenta bancaria:</label>
      <input type="text" class="form-control" id="bankAccount" >
    </div>
  </form>