<h2>Formulario de Ofertas de Ropa</h2>
<form>
  <div>
    <label for="name1">Name:</label>
    <input type="text" id="name1" [formControl]="nameControl">
  </div>
  <br>
  <div>
    <label for="birthdate1">birthdate:</label>
    <input type="date" id="birthdate1" [formControl]="birthdateControl">
  </div>
  <br>
  <div>
    <label for="number1">Precio:</label>
    <input type="number" id="number1" [formControl]="numberControl">
  </div>
  <br>
  <div>
    <label for="booleano1">¿Está de oferta?</label>
    <input type="checkbox" id="booleano1" [formControl]="booleanoControl">
  </div>
  <br>
  <button type="button" (click)="validateForm1()">Enviar</button>
</form>
<br>
<h1>FormGroup</h1>
<form [formGroup]="form">
  <div>
    <label for="name2">Name:</label>
    <input type="text" id="name2" formControlName="name">
  </div>
  <br>
  <div>
    <label for="birthdate2">birthdate:</label>
    <input type="date" id="birthdate2" formControlName="birthdate">
  </div>
  <br>
  <div>
    <label for="number2">Precio:</label>
    <input type="number" id="number2" formControlName="number">
  </div>
  <br>
  <div>
    <label for="booleano2">¿Está de oferta?</label>
    <input type="checkbox" id="booleano2" formControlName="booleano">
  </div>
  <br>
  <button type="button" (click)="validateForm2()">Enviar</button>
</form>