<div>
    <h2>Lista de Ofertas de Ropa</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Descuento</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Camisa de Cuadros</td>
          <td>Camisa de algodón con estampado de cuadros</td>
          <td>Hombres</td>
          <td>$30</td>
          <td>10%</td>
          <td><img src="ruta/a/imagen.jpg" alt="Camisa de Cuadros"></td>
        </tr>
        <tr>
          <td>Vestido Floral</td>
          <td>Vestido de verano con estampado floral</td>
          <td>Mujeres</td>
          <td>$25</td>
          <td>15%</td>
          <td><img src="ruta/a/imagen.jpg" alt="Vestido Floral"></td>
        </tr>
        <tr>
          <td>Pantalones Cortos para Niños</td>
          <td>Pantalones cortos de tela suave para niños</td>
          <td>Niños</td>
          <td>$20</td>
          <td>5%</td>
          <td><img src="ruta/a/imagen.jpg" alt="Pantalones Cortos para Niños"></td>
        </tr>
    
      </tbody>
    </table>
  </div>
  