.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.producto p {
  margin-bottom: 10px;
}

.producto button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.producto button:hover {
  background-color: #0056b3;
}

a.router-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a.router-link:hover {
  text-decoration: underline;
}
