<div class="container productos-container">
  <h2>Productos Disponibles</h2>
  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card producto">
        <img src="{{ producto1.imagen }}" class="card-img-top" alt="Producto 1">
        <div class="card-body">
          <h3 class="card-title">{{ producto1.nombre }}</h3>
          <p class="card-text">{{ producto1.descripcion }}</p>
          <button class="btn btn-primary" (click)="agregarAlCarrito(producto1)">Agregar al Carrito</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card producto">
        <img src="{{ producto2.imagen }}" class="card-img-top" alt="Producto 2">
        <div class="card-body">
          <h3 class="card-title">{{ producto2.nombre }}</h3>
          <p class="card-text">{{ producto2.descripcion }}</p>
          <button class="btn btn-primary" (click)="agregarAlCarrito(producto2)">Agregar al Carrito</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card producto">
        <img src="{{ producto3.imagen }}" class="card-img-top" alt="Producto 3">
        <div class="card-body">
          <h3 class="card-title">{{ producto3.nombre }}</h3>
          <p class="card-text">{{ producto3.descripcion }}</p>
          <button class="btn btn-primary" (click)="agregarAlCarrito(producto3)">Agregar al Carrito</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card producto">
        <img src="{{ producto4.imagen }}" class="card-img-top" alt="Producto 4">
        <div class="card-body">
          <h3 class="card-title">{{ producto4.nombre }}</h3>
          <p class="card-text">{{ producto4.descripcion }}</p>
          <button class="btn btn-primary" (click)="agregarAlCarrito(producto4)">Agregar al Carrito</button>
        </div>
      </div>
    </div>
    <!-- Repite lo mismo para los otros productos -->
  </div>
</div>
<a routerLink="/compra/carrito" class="btn btn-primary">Ir al carrito</a>
